.Button-button {
  width: 75px;
  height: 75px;
  border-radius: 10px;
  transition: 0.4s ease-in-out all;
  border: 0px;
}
.Button-button:hover {
  border-radius: 50px;
  cursor: pointer;
  -webkit-box-shadow: -1px 0px 7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 7px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 0px 7px rgba(0, 0, 0, 0.75);
}
