body,
#root {
  margin: 0;
  padding: 0;
}
.App {
  /* background-color: rgba(208, 234, 245, 0.568); */
  font-family: "Pacifico", cursive;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}
.App-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 2vh;
}
.App-main-section {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.Canvas-container {
  margin-top: 2vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  -webkit-box-shadow: -1px 0px 18px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 18px -8px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 0px 18px -8px rgba(0, 0, 0, 0.75);
}
.App-submit-btn {
  font-family: "Pacifico", cursive;
  font-size: 1.5rem;
  width: 300px;
  height: 50px;
  border: 0px;
  border-radius: 15px;
  background: rgb(145, 163, 236);
  background: linear-gradient(
    90deg,
    rgba(145, 163, 236, 1) 0%,
    rgba(99, 91, 235, 1) 69%,
    rgba(84, 75, 238, 1) 100%
  );
  color: white;
  display: block;
  margin: 0 auto;
  /* transition: 0.3s ease-in-out all; */
}

.App-submit-btn:hover {
  cursor: pointer;
  /* -webkit-box-shadow: -1px 0px 18px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 18px -8px rgba(0, 0, 0, 0.75); */
  /* box-shadow: -1px 0px 18px -8px rgba(0, 0, 0, 0.75); */
  background: rgb(236, 145, 189);
  background: linear-gradient(
    90deg,
    rgba(236, 145, 189, 1) 0%,
    rgba(235, 91, 124, 1) 50%,
    rgba(84, 75, 238, 1) 100%
  );
}
