.NavBar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 15vh;
  padding: 0;
  margin: 0;
  background: rgb(145, 163, 236);
  background: linear-gradient(
    90deg,
    rgba(145, 163, 236, 1) 0%,
    rgba(99, 91, 235, 1) 69%,
    rgba(84, 75, 238, 1) 100%
  );
  -webkit-box-shadow: -1px 0px 18px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 18px -8px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 0px 18px -8px rgba(0, 0, 0, 0.75);
}

.NavBar-header {
  color: white;
  padding: 0;
  margin: 0;
}
